<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ONLINE PAIEMENT | TRNASCTION FAILED</title>
</head>
<body>
<div th:if="${transaction!= null}">
    <div th:if="${process}">
        <h1>Transaction Already process</h1>
    </div>
    <div th:if="${!process}">
        <h1>Transaction Annulé cliquer pour être rediriger</h1>
        <div th:text="${transaction.status}">
            <span th:text="${transaction.status}"></span>
        </div>
        <a th:href="${transaction.redirectUrl}">
            Retourner vers site web
        </a>
    </div>

</div>
<div th:if="${transaction == null}">
    <h1>Not fount canceled opearation</h1>
</div>
</body>
</html>
