<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ONLINE PAIEMENT | TRANSACTION ANNULÉ</title>
</head>
<body >
<div th:if="${transaction!= null}" style="text-align: center;">

        <h1 style="text-align: center;color: orange">
            Transaction Annulé
            <a  id="go-back" th:href="${transaction.cancelUrl}">cliquer ici</a>
            pour être redirigé vers le site marchand.
        </h1>

        <div style="color: blue; font-size: 12px;font-weight: bold" id="redirect">
            Vous allez être redirigé automatiquement dans <span id="counter">15</span> secondes ...
        </div>

</div>
<div th:if="${transaction == null}">
    <h1 style="text-align: center;color: orange">Transaction Non Trouvé</h1>
</div>
</body>
<script>
    let url = window.document?.getElementById('go-back')?.attributes?.getNamedItem("href")?.value;
    if(url){
        let interval = setInterval(()=>{
            let conter = parseInt(document.getElementById('counter').innerText);
            conter--;
            document.getElementById('counter').innerText = conter.toString();
            if(conter ===0){
                console.log(url)
                clearInterval(interval);
                document.getElementById('redirect').innerText = "Redirection en cours ..."
                window.location.href = url;
            }
        },1000);
    }

</script>
</html>
